target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

*.log
*.ctxt
.mtj.tmp/

hs_err_pid*
replay_pid*

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
.eclipse/
.settings/
.project
.classpath

.DS_Store
